body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.first{
    display: flex;
}
.second{
    display: flex;
}
section .first{
    background-image: url('assets/shapes/Frame\ 58.jpg');
    background-size: cover;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
section img{
    width: 80%;
}
section .text{
    margin-top: 140px;
}
section h1{
    font-size: 55px;
    margin: 0;
    letter-spacing: 0.5px;
}
section span{
    color: #FD4F30;
}
section p{
    color: #bbaeae;
    margin-bottom: 40px;
}
section a{
    text-decoration: none;
    background-image: linear-gradient(#FD4F30,#FC7C41);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
}
section .first{
    margin-bottom: 100px;
}
section .second img{
    width: 70%;
}
.second{
    background-image: url('assets/shapes/Frame\ 59.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin-bottom: 20px;
}
.second img{
    width: 50%;
    padding-left: 25px;
}
.second .text{
    margin-left: 100px;
}
.second h1{
    margin-bottom: 10px;
}
.second p{
    width: 70%;
    margin-bottom: 70px;
}
section .title{
    text-align: center;
    width: 43%;
    margin: 0 auto;
}
.item{
    display: flex;
    margin-bottom: 100px;
}
.item-details{

    width: 30%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 15px 15px 25px gray;
}
.item-details h1{
    margin-top: 10px;
    font-size: 25px;
}
.item-details img{
    width: 100%;
}
.number h1{
    display: flex;
}
.number p{
    display: flex;
}
footer{
    background-color: black;
    text-align: center;
    padding: 50px;
}
footer span{
    color: #FD4F30;
    font-size: 25px;
}
footer p,h3{
    color: white;
    font-size: 25px;
}